{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../myapp/static/css/about.css" />
    <title>About</title>

    <style></style>
  </head>

  <body>
    <div class="container mt-2">
      <div class="row">
        <div class="col-sm-12">
          <h1 align="center" style="padding: 5px 8px; margin-top: 30px;">
            <mark>Car4You</mark>
          </h1>
          <p>
            Carpooling (also car-sharing, ride- sharing and lift-sharing) is the
            sharing of car journeys so that more than one person travels in a
            car, and prevents the need for others to have to drive to a location
            themselves. By having more people using one vehicle, carpooling
            reduces each person's travel costs such as: fuel costs, tolls, and
            the stress of driving.
          </p>
          <p>
            Carpooling is also a more environmentally friendly and sustainable
            way to travel as sharing journeys reduces air pollution, carbon
            emissions, traffic congestion on the roads, and the need for parking
            spaces. Authorities often encourage carpooling, especially during
            periods of high pollution or high fuel prices. Car sharing is a good
            way to use up the full seating capacity of a car, which would
            otherwise remain unused if it were just the driver using the car.
          </p>
          <h3 style="margin-top: 40px;">Our Objectives</h3>
          <ul>
            <li>Reducing Overall traffic congestion on the roads.</li>
            <li>Reduce peak hour congestion.</li>
            <li>
              Reducing Single occupancy car trips by implementing Car4You
              system.
            </li>
            <li>Promoting alternative modes of transport.</li>
            <li>
              Save money by sharing the cost of driving one car and reduce
              number of cars on the road.
            </li>
            <li>
              Reduce pollution and carbon dioxide emissions and reduce
              driving-related stress for participants.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
